langchain
langchain-core
langgraph
langchain-google-genai
langchain-groq
langchain-community
faiss-cpu
tiktoken 
pydantic
typing-extensions
streamlit
python-dotenv
upstash-redis
streamlit_extras
streamlit_cookies_controller
uuid
fastapi
requests
uvicorn
